/** MENU */
header{
	top: 0;
	left: 0;
	position: relative;
	width: 100%;
	height: 80px;
	background-color: #151515;
	z-index: 2;
}

.nav{
	display: flex;
	justify-content: space-between;
	max-width: 992px;
	margin: 0 auto;
	position: absolute;
	left: 10%;
}

.logoimg{
	position: absolute;
	height: 100px;
	left: -120px;
}

.logo{
color: #fff;
font-weight: 700;
text-decoration: none;
line-height: 80px;
font-size: 2.5em;
text-transform: uppercase;
letter-spacing: 2px;
font-family: Origin Tech Demo;
margin-right: 10px;
}
.Nav-Menu{
	display: flex;
	margin-right: 40px;
	list-style: none;

}
.Nav-Menu-Item{
	font-size: 18px;
	margin: 0 10px;
	line-height: 80px;
	text-transform: uppercase;

}
.Nav-Menu-Item a{
	text-decoration:none;
	padding: 6px 15px;
	color: #fff;
	border-radius: 20px;
	font-family: Origin Tech Demo;
}

.Nav-Toggle{
	color: #fff;
	background: #000000;
	border: none;
	font-size: 35px;
	cursor: pointer;
	display: none; /*para ue no se vea el nav bar en computadores*/
	position: absolute;
	border-radius: 25%;
	height: 50px;
	width: 50px;
	left: 93%;
	top: 15px;

}
header ul li a:hover, 
header ul li a.activo{
	background: #fff;
	color: #0EE6E6;
}
/** FIN MENU */

footer{
  bottom: 0;
  left: 0;
  right: 0;
  background:#111;
  height: auto;
  width: 100vw;
  font-family: Origin Tech Demo;
  padding-top: 40px;
  color: #fff;
}
footer img{
  
  width: 100px;
  height: 100px;
  margin: 5px;
  


}
.contenido-footer{
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.contenido-footer h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  color:  #0EE6E6;
}
.contenido-footer p{
max-width: 500px;
margin: 10px auto;
line-height: 28px;
font-size: 14px; 
}
.social{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.social li{
margin: 0 10px;
}
.social a{
  text-decoration: none;
  color: #fff;
}
.social a i{
  font-size:1.1rem;
  transition: color .4s ease;
}
.social a:hover i{
  color: #0EE6E6;
}
.boton-footer {
  background:#000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.boton-footer p{
  font-size:14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.boton-footer span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

/*VERION CELULAR*/
@media (max-width: 415px) {

  /*HEADER INICIO*/


/** MENU */
header{
	top: 0;
	left: 0;
	position: sticky;
	width: 100%;
	height: 80px;
	background-color: #151515;
	z-index: 10;
}


.logoimg{
	position: absolute;
	height: 60px;
	top: 5px;
	left:-40px;
}
.logo{
color: #fff;
font-weight: 700;
text-decoration: none;
line-height: 80px;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 2px;
font-family: Origin Tech Demo;
margin: 0 30px;
}
.Nav-Menu{
flex-direction: column;
align-items: center;
margin: 0;
background-color: #221f1f;
position: fixed;
left: 0;
top: 80px;
width: 100%;
padding: 20px 0;
height: calc(100% - 70px);
overflow-y: auto;
left: 100%;
transition: left 0.3s;
z-index: 10;

}
.Nav-Menu-Item{
list-style: none;
margin-left: 15px;

}

header ul li a:hover, 
header ul li a.activo{
	background: none;
	color: #0EE6E6;
}


.Nav-Toggle{
	display: block; /*para ue no se vea el nav bar en computadores*/

}

.Nav-Menu-Visible{

	left: 0;
}

.Nav-Toggle:focus:not(:focus-visible){
	outline: none;
}




/*HEADER FINAL*/

}